{% extends 'base.html' %}

{% block main %}

{% if request.user.is_authenticated %}
    <button type="button" class="btn btn-sm btn-success" onclick="register_child(1)">
        Add User
    </button>
{% endif %}

{% for user in users_list %}
    <div class="col-6">

        <div class="card">
            <p class="card-text">
                id: {{ user.id }}<br>
                Name of Groups: {{ user.name }}<br>
                Description: {{ user.group }}
            </p>
            <p>
                {% if request.user.is_authenticated %}
                  <button type="button" class="btn btn-sm btn-success" onclick="register_child(1)">
                    Edit
                  </button>
                  <button type="button" class="btn btn-sm btn-success" onclick="register_child(1)">
                    Delete
                  </button>
                {% endif %}
            </p>
        </div>
    </div>
{% endfor %}

{% endblock %}